/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #333;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #fafafa;
    text-align: center;
}

/* Add style to the Nav bar*/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: inline-block;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f9ae22;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
/* Heading and Hero Image Style*/
.main-heading {
    color: #f9ae22;
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 230px;
  }
  
  .hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .intro-paragraph {
    color: #fafafa;
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 230px;
  }
  
  /* Add style to the separator */
  .separator {
    width: 68%;
    height: 1px;
    border-radius: 5px;
  }

  /* Add style to Instructions*/
.sub-heading {
    color: #f9ae22;
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .paragraph-two {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 21%;
    padding-right: 21%;
  }
  
  .decoration {
    color: #f9ae22;
  }
  
  .red-color-btn {
    color: red;
  }
  
  .green-color-btn {
    color: green;
  }
  