/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #333;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #fafafa;
    text-align: center;
}

/* Add style to the Nav bar*/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: inline-block;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f9ae22;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  